<!DOCTYPE html>

<title>admin login page</title>

{% block body %}
    <div class="container">
        <div class="row">
            <div class="login-form bg-light mt-4 p-4">
                <form method="post" class="row g-3">
                    <h1 class="h3 mb-3 font-weight-normal">Mini DigiKala admin login</h1>

                    {%  if error %}
                        <div class="alert alert-danger">{{ error.messageKey }}</div>
                    {% endif %}
                    <div class="col-20">
                        <label for="inputUserIdentifier">email or phone number</label>
                        <input type="tel" name="userIdentifier" id="inputUserIdentifier" class="form-control" required autofocus, value = {{ last_userIdentifier }}>
                    </div>
                    <div class="col-20">
                        <label for="inputPassword">password</label>
                        <input type="tel" name="password" id="inputPassword" class="form-control" required autofocus,>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="col-12">
                        <button class="btn btn-lg btn-primary float-end" type="submit">
                            login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}