<!DOCTYPE html>

<title>صفحه ورود</title>

{% if availableTwoFactorProviders|length > 1 %}
    <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
        {% for provider in availableTwoFactorProviders %}
            <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
        {% endfor %}
    </p>
{% endif %}

<p class="label"><label for="_auth_code">لطفا کد تایید خود را وارد کنید</label></p>
<form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
    <p class="widget">
        <label for="inputOtp">کد تایید</label>
        <input
                id="_auth_code"
                type="text"
                name="{{ authCodeParameterName }}"
                autocomplete="one-time-code"
                autofocus
                inputmode="numeric"
                pattern="[0-9]*"
        />
    </p>
    {% if authenticationError %}
        <p>کد تایید وارد شده اشتباه است</p>
    {% endif %}
    <p class="submit"><input type="submit" value="ورود" /></p>
</form>
<p class="cancel"><a href="{{ logoutPath }}">خروج</a></p>