<!DOCTYPE html>

<title>ثبت نام</title>

{% block body %}
    <h1>ثبت نام</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.phoneNumber, {
            label: 'تلفن همراه'
        }) }}
        {{ form_row(registrationForm.email, {
            label: 'ایمیل'
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'رمز عبور'
        }) }}

        <button type="submit" class="btn">ثبت نام</button>
    {{ form_end(registrationForm) }}
{% endblock %}
