{% extends '@EasyAdmin/layout.html.twig' %}

{% block content_title %}Mini Digikala Admin Panel{% endblock %}
{% block page_actions %}
    <a class="btn btn-primary" href="http://127.0.0.1:8080/api/doc">API Doc</a>
{% endblock %}